@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

/* Define color variables for the "Classic & Professional" palette */
:root {
  --primary-color:  #FFFFFF; 
  --secondary-color: #F3F4F6; 
  --primary-background-color: #FFFFFF; 
  --secondary-background-color:  #F3F4F6;
  --primary-text: black;
  --secondary-text: #6D7482; /* Dark Gray */
  --accent-color: #ffc107; /* Golden Yellow */
  --btn-primary: #007bff;
  --btn-secondary: #0056b3;
}

/* Global reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Base font settings */
body {
  font-family: 'Hind Siliguri', 'Inter', 'Roboto', 'Ubuntu', Georgia, 'Times New Roman', Times, serif;
  background-color: var(--background-color);
  color: var(--primary-text);
}

/* Example styles for headings */
h1, h2, h3, h4, h5, h6 {
  color: var(--primary-text);
}

/* Link styles */
a {
  color: var(--accent-color);
  text-decoration: none;
}



/* Utility classes */
.text-secondary {
  color: var(--secondary-text);
}

.bg-primary {
  background-color: var(--primary-color);
}

/* Add more styles as needed */
